body {
   
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.calculator {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 260px;
    box-shadow: 10px black;
}

.calculator h1 {
    text-align: center;
    margin-bottom: 15px;
}

#deep {
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    font-size: 22px;
    padding: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    
}

.btn {
    background: whitesmoke;
}

.operator {
    background: orange;
    color: white;
}

.clear {
    background: orange;
    color: white;
}

.equals {
    background: lightgreen;
    grid-column: span 4;
    color: white;
}