body {
    margin: 0;

    background-color: #f7e4c5;
}

header {
    background-color: blue;
    color: red;
    text-align: center;
    padding: 25px 0;
}

.cont {
    display: flex;
    padding: 30px;
}

.left img {
    width: 180px;
    border-radius: 10px;
}

.right {
    margin-left: 30px;
}

h2, h3 {
    color: green;
}

ul {
    line-height: 1.8;
}

footer {
    text-align: center;
    background-color: #0e0c0c;
    color: white;
    padding: 12px 0;
    margin-top: 40px;
}